venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
models/*.h5
data/raw/*
data/processed/*
data/train/*
data/val/*
data/test/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/train/.gitkeep
!data/val/.gitkeep
!data/test/.gitkeep
results/figures/*
!results/figures/.gitkeep
results/logs/*
!results/logs/.gitkeep
.env
*.zip
data.zip
data/
train/
test/
val/
raw/
processed/
models/resnet50_fer.h5
